<style>
    .movie-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .movie-title {
      margin-right: 1rem;
    }
    .avg-rating-container {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
    .avg-rating-container p:first-child {
      margin-right: 1.5rem;
    }
  </style>
  <body>
    <h1>Movies</h1>
    {% for movie in movies %}
    <div class="movie-container">
      <a href="{% url 'movie' movie.id %}" class="movie-title"><h2>{{ movie.title }}</h2></a>
      <div class="avg-rating-container">
        <p>Number of Ratings: {{ movie.get_rating_count }}</p>
        <a href="{% url 'movie' movie.id %}">
          <p>Average Rating:{{ movie.avg_rating }}</p>
        </a>
      </div>
    </div>
    {% endfor %}
  </body>
  